@import "tailwindcss";

:root {
  /* light values */
  --primary: #14578c;
  --primary-variant: #001b94;
  --secondary: #ffa300;
  --secondary-variant: #439a86;
  --surface: #ebebeb;
  --background: #fbfbfb;
  --on-primary: #fefefe;
  --on-secondary: #fefefe;
  --on-background: #1e2019;
  --on-surface: #1e2019;
}

.dark {
  /* dark values */
  --primary: #14578c;
  --primary-variant: #3b97e3;
  --secondary: #6db1d2;
  --secondary-variant: #86beca;
  --surface: #1e2019;
  --background: #080808;
  --on-primary: #d6dbdc;
  --on-secondary: #d6dbdc;
  --on-background: #d6dbdc;
  --on-surface: #d6dbdc;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-variant: var(--primary-variant);
  --color-secondary: var(--secondary);
  --color-secondary-variant: var(--secondary-variant);
  --color-surface: var(--surface);
  --color-background: var(--background);
  --color-on-primary: var(--on-primary);
  --color-on-secondary: var(--on-secondary);
  --color-on-surface: var(--on-surface);
  --color-on-background: var(--on-background);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }

  body {
    color: var(--on-primary);
    background: var(--background);
  }

  button {
    cursor: pointer;
  }

  input {
    outline: none;
  }

  textarea {
    outline: none;
    resize: none;
  }

  select {
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link-underline::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 1px;
  margin-left: 8px;
  width: 0;
  background-color: theme(--color-secondary);
  transition: width 0.3s ease-out;
}

.nav-link-underline:hover::before {
  width: calc(100% - 16px);
}
